@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    Welcome to me refreshing myself on ASP.NET MVC!
</div>

<div id="div1" class="text-center invisible">
    Hello Everybody!
    <form id="nameForm">
        <label for="name">What's your name?</label>
        <input type="text" id="name" name="name">
        <button type="button" id="submitBtn">Submit</button>
    </form>
</div>
<script src="~/js/site.js">
    
 
</script>
<script type="text/javascript">
    callSayHi("Sam");
</script>


